* {
    margin: 0;
    padding: 0;
}

body {
      font-family: Arial, sans-serif;
      margin: 40px;
      background-color: #f4f4f4;
      color: #333;
    }
    .cv-container {
      max-width: 800px;
      margin: auto;
      background: white;
      padding: 30px;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
    }
    .header {
      display: flex;
      align-items: start;
      gap: 20px;
    }
    .header img {
      width: 120px;
      height: 120px;
      border-radius: 50%;
      object-fit: cover;
    }
    h1, h2 {
      border-bottom: 2px solid #0e76a8;
      padding-bottom: 5px;
    }
    .section {
      margin-bottom: 25px;
    }
    ul {
      padding-left: 20px;
    }

    .button_click{
      margin:35px;
      padding: 15px;
    }